
<div class="main-hero text-center">
  <% if admin_user_signed_in? %>
    <div class="row">
    <br>
      <div class="large-9 column">
        <%= image_tag 'maps/feast-hack-map.png' %>
      </div>
      <div class="large-3 column">
        <h4>Select your region</h4>
        <ul>
          <li id="group"><h5>North Manhattan</h5></li>
            <li>East Harlem</li>
            <li>Central Harlem</li>
            <li>Washington Heights</li>
            <li>Morningside Heights</li>
          <li id="group"><h5>South Manhattan</h5></li>
            <li>Greenich Village / Financial District</li>
            <li>Lower East Side / Chinatown</li>
          <li id="group"><h5>Bronx</h5></li>
            <li>Highbridge / South Concourse</li>
            <li>Mott Haven / Hunts Point</li>
            <li>Soundview / Parkway</li>
            <li>Throg Neck / Co-Op City</li>
            <li>Pelham Parkway</li>
          <li id="group"><h5>Queens</h5></li>
            <li>Astoria</li>
            <li>Jackson Heights</li>
            <li>Sunnyside / Woodside</li>
            <li>Flushing / Whitestone</li>
        </ul>
      </div>
    </div>
    <br>
  <% else %>
    <script>
      $('.white-bg').removeClass('white-bg');
    </script>
    <div class="row ">
      <div class="large-8 column large-centered">
        <div class="large-6 column">
          <%= image_tag "snipit.png" %>
        </div>
        <div class="large-6 column fl">
          <h1 style="font-size: 4em;
          margin-bottom: 0em;">Snipit</h1>
          <h1 class="subheader">
            Be there – even when you can’t. 
          </h1>
          <%= link_to "Sign up", new_admin_user_registration_path, class: "button primary large white button-width" %>
          <p class="subheader text-center">
          Send your group text messages about new recipes, local events, discounts on healthy food or free fitness classes!
          </p>
        </div>
      </div>
    </div>
    <p>
      
    </p>
  <% end %> 
</div>
<div>
</div>