<h1>Adding a new <a href="#">East Harlem</a> user</h1>
<p>Enter the following details for a user in the <a href="#">East Harlem</a> region.</p>
<%= render 'form' %>

<%= link_to 'Back', users_path %>
