<hr>
<div class="row footer">
  <div class="large-6 column">
    <p class="text-left">
      Snippet made with ♥ for <a href="https://twitter.com/search?q=%23Feast2013&src=hash&f=realtime">#Feast2013</a>
    </p>
  </div>
  <div class="large-6 column text-right">
      <ul class="inline-list fr">
        <li><%= link_to "Home", home_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <li><%= link_to "Sign-In", signin_path %></li>
      </ul>
  </div>
</div>