/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 h1,
 h2,
 h3,
 h4,
 h5{
/*font-family: Georgia !important;*/
 }
.background{
  background-image: url(image_path('background.jpg'));
  background-size: cover !important;
  padding-bottom: 2em;
  border-top: 8px solid rgb(148, 204, 203);
  border-bottom: 8px solid rgb(204, 204, 204);
  min-height: 500px
}
.footer{
  color: #888!important;
  p, a{
    color: #888!important;
  }
}
.white-bg{
  background: rgba(255, 255, 255, 0.66);
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 1em;
}
.full-width{
  width: 100%;
  font-size: 1em !important;
  width: 96%;
  margin: 0 auto;
  text-align: center;
}
.button-width{
  width: 55%;
}
.fl{
  float: left;
}
.fr{
  float: right;
}
a.white{
  color: white !important;
}
.height-same{
  min-height: 150px;
}